<template-element id="part-content">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  </template>
</template-element>

<script>
  class PartContent extends Pantarei.Element {

    static get is () { return 'part-content' }

    static get props () {
      return {
        content: { value: {} }
      }
    }

    render () {
      if (this.content) {
        if (this.content !== this._content) {
          this.content.data
            .then((html) => {
              this.shadowRoot.innerHTML = html
              this._content = this.content
            })
            .catch((err) => {
              console.warn(err)
              this.shadowRoot.innerHTML = ''
            })
        }
      }
    }

  }

  window.customElements.define('part-content', PartContent)
</script>
